$color_1: white;
$background_color_1: #BD2A57;

.bannerContainer {
	display: flex;
	flex-direction: row;
	margin: 2% auto;
}
.content {
	.bannerContainer {
		&:nth-child(odd) {
			.imageContainer {
				order: 2;
			}
		}
	}
}
.bannerContentContainer {
	flex: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.imageContainer {
	flex: 40%;
	align-items: center;
	display: flex;
}
.bannerImage {
	width: 100%;
}
.bannerButton {
	background-color: $background_color_1;
	color: $color_1;
	padding: 3%;
	border: none;
}
