$color_1: gray;
$color_2: white;
$background_color_1: #eeeeee;
$background_color_2: white;
$background_color_3: #BD2A57;
$desktop : 990px;
$tablet : 760px;

@mixin tablet {
	@media (min-width : #{$tablet}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width : #{$desktop}) {
		@content;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	background-color: $background_color_1;
	@include tablet(){
		grid-template-columns: 1fr 2fr;
	}
	@include desktop(){
		grid-template-columns: 1fr 4fr;
	}
}
.product-categories-class {
	grid-template-columns: 1fr;
	display:none;
	@include tablet(){
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-rows: max-content;
		.product-categories-list{
			.product-categories-name {
				padding: 10%;
				border-bottom: gray solid 1px;
				a {
					color: $color_1;
				}
			}
		}
	}
	@include desktop(){
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-rows: max-content;
		.product-categories-list{
			.product-categories-name {
				padding: 10%;
				border-bottom: gray solid 1px;
				a {
					color: $color_1;
				}
			}
		}
	}
}
.product-side{
	display: grid;
	grid-template-columns: 1fr;
	.product-menu{
		display: block;
		@include tablet(){
			display: none;
			
		}
		@include desktop(){
			display: none;
		}
	}
}
.product-menu{
	display:block;
	@include tablet(){
		display:none;
	}
	@include desktop(){
		display:none;
	}
	
}
.product-choices{
	width: 100%;
	background: $background_color_3;
	color: $color_2;
	font-size: medium;
	font-weight: bold;
	padding:3%;
	outline: none;
	border: none;
	& option{
		width: 50px;
	}
}


.products-class {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	margin: 0.5%;
	@include tablet(){
		grid-template-columns: repeat(2,1fr);
	}
	@include desktop(){
		grid-template-columns: repeat(4,1fr);
	}
}

.product-container {
	display: flex;
	flex-direction: column;
	border-bottom: black 1px dotted;
	background-color: $background_color_2;
}
.product-name {
	font-size: 1.5em;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	height: 62px;
	overflow: hidden;
}
.div-alignment{
	display: flex;
	flex-direction: row;

	@include desktop(){
		flex-direction: column;
	}
	.product-image-container {
		justify-content: center;
		align-content: center;
		align-items: center;
		width:50%;
		@include desktop(){
			width: 100%;
		}
		.product-image {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			align-content: center;
			width: 100%;
		}
	}
	.product-description-alignment{
		width: 50%;
		@include desktop(){
			width:100%;
		}

		.product-description-container {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 5em;

			.product-description {
				justify-content: center;
				align-content: center;
				align-items: center;
				margin-left: 5%;
				margin-right: 5%;
				background: $background_color_1;
				height: 88px;
				padding:2%;
				overflow: hidden;
			}
		}
		.product-mrpandbuy {
			flex-direction: row;
			justify-content: center;
			align-content: center;
			align-items: center;
			display: flex;
			.product-mrp {
				flex: 50%;
				align-content: center;
				justify-content: center;
				text-align: center;
				align-items: center;
				display: none;
				@include desktop(){
					display: block;
				}
			}
		}
	}

	.product-buy-button {
		flex: 50%;
		align-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: $background_color_3;
		border: none;
		padding: 5%;
		color: $color_2;
		.product-price-tag{
			display: inline-block;
			@include desktop(){
				display:none;
			}
		}
	}
	
}

