@import 'https://fonts.googleapis.com/css?family=Dosis:400,600,700';
* {
  font-family: Dosis;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.header-class {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
}
@media (min-width: 990px) {
  .header-class {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.header-class .header-logo-section {
  flex: 70%;
}
.header-class .header-logo-section a {
  width: 100%;
}
.header-class .header-logo-section a img {
  width: 35%;
}
@media (min-width: 990px) {
  .header-class .header-logo-section {
    flex: 10%;
  }
  .header-class .header-logo-section a {
    width: 100%;
  }
  .header-class .header-logo-section a img {
    width: 100%;
  }
}
.header-class .header-right-section {
  flex: 20%;
}
@media (min-width: 990px) {
  .header-class .header-right-section {
    flex: 80%;
  }
}
.header-class .header-right-section .header-right-top-section {
  display: none;
}
@media (min-width: 990px) {
  .header-class .header-right-section .header-right-top-section {
    display: flex;
    justify-content: flex-end;
    margin: 1%;
  }
}
.header-class .header-right-section .header-right-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (min-width: 990px) {
  .header-class .header-right-section .header-right-bottom-section {
    align-items: end;
    height: 54%;
  }
}
.header-class .header-right-section .header-right-bottom-section .header-nav-section {
  display: none;
}
@media (min-width: 990px) {
  .header-class .header-right-section .header-right-bottom-section .header-nav-section {
    display: flex;
    margin-left: 5%;
    flex: 89%;
  }
  .header-class .header-right-section .header-right-bottom-section .header-nav-section a {
    margin-left: 5%;
  }
}
.header-class .header-right-section .header-right-bottom-section .header-cart-section {
  display: flex;
  background: lightgray;
  flex-direction: row;
  flex: auto;
  height: inherit;
}
.header-class .header-right-section .header-right-bottom-section .header-cart-section a {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-class .header-right-section .header-right-bottom-section .header-cart-section a img {
  width: 35%;
}
@media (min-width: 990px) {
  .header-class .header-right-section .header-right-bottom-section .header-cart-section {
    flex: 15%;
    align-items: center;
    height: 100%;
  }
  .header-class .header-right-section .header-right-bottom-section .header-cart-section a {
    height: inherit;
    width: 100%;
  }
  .header-class .header-right-section .header-right-bottom-section .header-cart-section a img {
    height: 70%;
  }
}

.content {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}
@media (min-width: 990px) {
  .content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
  }
}

.footer {
  background-color: #cccccc;
  font-size: small;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
@media (min-width: 990px) {
  .footer {
    text-align: left;
    padding-left: 10%;
  }
}

.header-box-shadow {
  box-shadow: 2px 13px 12px -6px #ccc;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: 2% auto;
}

header.carouselHead {
  text-align: center;
  font-size: 1.5em;
  padding-left: 21%;
  padding-right: 20%;
  line-height: 1.5em;
  margin-top: 3%;
}

.carousel-slides {
  display: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.prev {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imageDiv {
  margin: 10%;
  margin-top: 5%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel-dots {
  text-align: center;
  padding-bottom: 2%;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 4%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media (min-width: 990px) {
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2%;
  }
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.banner-container {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}

.banner-container:nth-child(4n+1) .banner-image-container {
  order: 2;
}

.banner-content-container {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-image-container {
  flex: 40%;
  align-items: center;
  display: flex;
}

.banner-image {
  width: 100%;
}

.banner-button {
  background-color: #BD2A57;
  color: white;
  padding: 3%;
  border: none;
}

.banner-shadow {
  background: radial-gradient(at 50% 0, #8a8888, transparent 50%);
  background-size: 100% 8px;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eeeeee;
}
@media (min-width: 760px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 990px) {
  .grid-container {
    grid-template-columns: 1fr 4fr;
  }
}

.product-categories-class {
  grid-template-columns: 1fr;
  display: none;
}
@media (min-width: 760px) {
  .product-categories-class {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: max-content;
  }
  .product-categories-class .product-categories-list .product-categories-name {
    padding: 10%;
    border-bottom: gray solid 1px;
  }
  .product-categories-class .product-categories-list .product-categories-name a {
    color: gray;
  }
}
@media (min-width: 990px) {
  .product-categories-class {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: max-content;
  }
  .product-categories-class .product-categories-list .product-categories-name {
    padding: 10%;
    border-bottom: gray solid 1px;
  }
  .product-categories-class .product-categories-list .product-categories-name a {
    color: gray;
  }
}

.product-side {
  display: grid;
  grid-template-columns: 1fr;
}
.product-side .product-menu {
  display: block;
}
@media (min-width: 760px) {
  .product-side .product-menu {
    display: none;
  }
}
@media (min-width: 990px) {
  .product-side .product-menu {
    display: none;
  }
}

.product-menu {
  display: block;
}
@media (min-width: 760px) {
  .product-menu {
    display: none;
  }
}
@media (min-width: 990px) {
  .product-menu {
    display: none;
  }
}

.product-choices {
  width: 100%;
  background: #BD2A57;
  color: white;
  font-size: medium;
  font-weight: bold;
  padding: 3%;
  outline: none;
  border: none;
}
.product-choices option {
  width: 50px;
}

.products-class {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0.5%;
}
@media (min-width: 760px) {
  .products-class {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .products-class {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  border-bottom: black 1px dotted;
  background-color: white;
}

.product-name {
  font-size: 1.5em;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 62px;
  overflow: hidden;
}

.div-alignment {
  display: flex;
  flex-direction: row;
}
@media (min-width: 990px) {
  .div-alignment {
    flex-direction: column;
  }
}
.div-alignment .product-image-container {
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}
@media (min-width: 990px) {
  .div-alignment .product-image-container {
    width: 100%;
  }
}
.div-alignment .product-image-container .product-image {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.div-alignment .product-description-alignment {
  width: 50%;
}
@media (min-width: 990px) {
  .div-alignment .product-description-alignment {
    width: 100%;
  }
}
.div-alignment .product-description-alignment .product-description-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5em;
}
.div-alignment .product-description-alignment .product-description-container .product-description {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  background: #eeeeee;
  height: 88px;
  padding: 2%;
  overflow: hidden;
}
.div-alignment .product-description-alignment .product-mrpandbuy {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}
.div-alignment .product-description-alignment .product-mrpandbuy .product-mrp {
  flex: 50%;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}
@media (min-width: 990px) {
  .div-alignment .product-description-alignment .product-mrpandbuy .product-mrp {
    display: block;
  }
}
.div-alignment .product-buy-button {
  flex: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #BD2A57;
  border: none;
  padding: 5%;
  color: white;
}
.div-alignment .product-buy-button .product-price-tag {
  display: inline-block;
}
@media (min-width: 990px) {
  .div-alignment .product-buy-button .product-price-tag {
    display: none;
  }
}

.cart-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: inherit;
  align-items: center;
  text-align: right;
  margin-right: 2%;
}
.cart-close-button:hover, .cart-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 990px) {
  .cart-close-button:hover, .cart-close-button:focus {
    color: white;
  }
}

.cart-background {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 990px) {
  .cart-background {
    display: block;
  }
}

.cart-overlay-content {
  display: flex;
  background: white;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media (min-width: 990px) {
  .cart-overlay-content {
    width: 30%;
    height: 95%;
    margin: 2% auto;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  height: 80%;
}

.cart-header {
  background-color: #ffffff;
  padding: 0% 5%;
  display: inherit;
  color: black;
  justify-content: space-between;
}
.cart-header .cart-info {
  display: inherit;
  align-items: center;
}
@media (min-width: 990px) {
  .cart-header {
    background-color: black;
    color: white;
  }
}

.cart-item-label {
  font-size: 1.3em;
}

.cart-item-count {
  display: inline-block;
  background-color: inherit;
}

.cart-item-container {
  padding-top: 5%;
  overflow: scroll;
}
.cart-item-container .cart-item {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-items: center;
  padding-left: 3%;
}
.cart-item-container .cart-item .cart-item-image {
  width: 25%;
}
.cart-item-container .cart-item .cart-item-image img {
  width: 100%;
}
.cart-item-container .cart-item .cart-item-text {
  width: 80%;
  background-color: inherit;
  padding-left: 2%;
}
.cart-item-container .cart-item .cart-item-text p, .cart-item-container .cart-item .cart-item-text span, .cart-item-container .cart-item .cart-item-text h1 {
  background-color: inherit;
}
.cart-item-container .cart-item .cart-item-text h1 {
  font-size: 1.1em;
}
.cart-item-container .cart-item .cart-item-text p {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.cart-item-container .cart-item .cart-item-text p .cart-item-leftsection {
  width: 65%;
}
.cart-item-container .cart-item .cart-item-text p .cart-item-leftsection .cart-button {
  color: white;
  background-color: #BD2A57;
  padding: 1% 6%;
  border-radius: 5px;
}
.cart-item-container .cart-item .cart-item-text p .cart-item-rightsection {
  padding-right: 5%;
}

.cart-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffffff;
}
.cart-empty p:first-child {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0em;
}
.cart-empty p:nth-child(2) {
  line-height: 0em;
}

.cart-discount-banner {
  background: white;
  display: inherit;
  margin: 2%;
  align-items: center;
}
.cart-discount-banner .cart-discount-logo {
  width: 35%;
}
.cart-discount-banner .cart-discount-logo img {
  width: 100%;
  padding: 10%;
}
.cart-discount-banner .cart-discount-banner-text {
  padding: 3%;
}

.cart-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: center;
}
.cart-footer a {
  padding: 3%;
  background: #BD2A57;
  color: white;
  padding: 3% 10% 3% 10%;
  border-radius: 4px;
  display: flex;
  width: 80%;
}
.cart-footer .cart-show-totals {
  justify-content: space-between;
}
.cart-footer .cart-start-shopping {
  justify-content: center;
}

.sign-screen-container {
  margin-left: 13%;
  display: flex;
  flex-direction: row;
}
.sign-screen-container .sign-screen-left {
  margin: 3%;
}
.sign-screen-container .sign-screen-left h1 {
  font-size: 240%;
}
.sign-screen-container .sign-screen-left h1, .sign-screen-container .sign-screen-left p {
  padding: 3% 0;
  display: block;
}
.sign-screen-container .sign-screen-right {
  margin: 2% 0;
}
.sign-screen-container .sign-screen-right form article {
  margin: 3% 0;
}
.sign-screen-container .sign-screen-right form article .sign-screen-input-field {
  border: none;
  border-bottom: 2px solid #cccccc;
  padding-left: 5%;
  background-color: inherit;
  background-image: none;
  outline: none;
}
.sign-screen-container .sign-screen-right form article .sign-screen-input-field :focus {
  border: none;
  border-bottom: 2px solid #cccccc;
}
.sign-screen-container .sign-screen-right form article .submit-button {
  border: none;
  background-color: #BD2A57;
  display: block;
  color: #ffffff;
  font-size: inherit;
  text-align: center;
  padding: 4%;
  width: 100%;
  text-decoration: none;
}
.sign-screen-container .sign-screen-right input:focus ~ .floating-label,
.sign-screen-container .sign-screen-right input:not(:focus):not(:placeholder-shown):invalid ~ .floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}
.sign-screen-container .sign-screen-right input:not(:focus):not(:placeholder-shown):valid ~ .floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}
.sign-screen-container .sign-screen-right input:focus:required:invalid ~ .requirements {
  max-height: 200px;
}
.sign-screen-container .sign-screen-right input:required:valid {
  border: none;
}
.sign-screen-container .sign-screen-right form:invalid > a {
  pointer-events: none;
}
.sign-screen-container .sign-screen-right .sign-screen-input-field {
  font-size: 14px;
  width: 400px;
  height: 65px;
}
.sign-screen-container .sign-screen-right .sign-screen-text-field {
  position: relative;
}
.sign-screen-container .sign-screen-right .floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}
.sign-screen-container .sign-screen-right .requirements {
  color: #999;
  max-height: 0;
  max-width: 400px;
  overflow: wrap;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-size: 0.8em;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
