@import 'https://fonts.googleapis.com/css?family=Dosis:400,600,700';
* {
  font-family: Dosis;
}

a {
  text-decoration: none;
}

.headerClass {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
}
@media (min-width: 990px) {
  .headerClass {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.headerClass .logoSection {
  flex: 70%;
}
.headerClass .logoSection a {
  width: 100%;
}
.headerClass .logoSection a img {
  width: 35%;
}
@media (min-width: 990px) {
  .headerClass .logoSection {
    flex: 10%;
  }
  .headerClass .logoSection a {
    width: 100%;
  }
  .headerClass .logoSection a img {
    width: 100%;
  }
}
.headerClass .rightSection {
  flex: 20%;
}
@media (min-width: 990px) {
  .headerClass .rightSection {
    flex: 80%;
  }
}
.headerClass .rightSection .rightTopSection {
  display: none;
}
@media (min-width: 990px) {
  .headerClass .rightSection .rightTopSection {
    display: flex;
    justify-content: flex-end;
    margin: 1%;
  }
}
.headerClass .rightSection .rightBottomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (min-width: 990px) {
  .headerClass .rightSection .rightBottomSection {
    align-items: end;
    height: 54%;
  }
}
.headerClass .rightSection .rightBottomSection .navSection {
  display: none;
}
@media (min-width: 990px) {
  .headerClass .rightSection .rightBottomSection .navSection {
    display: flex;
    margin-left: 5%;
    flex: 89%;
  }
  .headerClass .rightSection .rightBottomSection .navSection a {
    margin-left: 5%;
  }
}
.headerClass .rightSection .rightBottomSection .cartSection {
  display: flex;
  background: lightgray;
  flex-direction: row;
  flex: auto;
  height: inherit;
}
.headerClass .rightSection .rightBottomSection .cartSection a {
  align-items: center;
  display: flex;
  justify-content: center;
}
.headerClass .rightSection .rightBottomSection .cartSection a img {
  width: 35%;
}
@media (min-width: 990px) {
  .headerClass .rightSection .rightBottomSection .cartSection {
    flex: 15%;
    align-items: center;
    height: 100%;
  }
  .headerClass .rightSection .rightBottomSection .cartSection a {
    height: inherit;
    width: 100%;
  }
  .headerClass .rightSection .rightBottomSection .cartSection a img {
    height: 70%;
  }
}

.content {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}
@media (min-width: 990px) {
  .content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
  }
}

.footer {
  background-color: #cccccc;
  font-size: small;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
@media (min-width: 990px) {
  .footer {
    text-align: left;
    padding-left: 10%;
  }
}

.boxShadow {
  box-shadow: 2px 13px 12px -6px #ccc;
}

.productMenu {
  display: none;
}

/* img{
  width :100%;
} */
/* Fading animation */
* {
  box-sizing: border-box;
}

.suggestions {
  flex: 40%;
  margin-top: 15%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: 2% auto;
}

header.carouselHead {
  text-align: center;
  font-size: 1.5em;
  padding-left: 21%;
  padding-right: 20%;
  line-height: 1.5em;
  margin-top: 3%;
}

.mySlides {
  display: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.prev {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.imageDiv {
  margin: 10%;
  margin-top: 5%;
}

.carouselPrice {
  text-align: center;
  font-size: 2em;
}

.viewDetailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewDetails {
  background: none;
  border: 1px solid lightgrey;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 10%;
  background-color: white;
  color: gray;
  width: 60%;
  box-sizing: content-box;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1em;
  font-weight: bold;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carouselDots {
  text-align: center;
  padding-bottom: 2%;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 4%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media (min-width: 990px) {
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2%;
  }
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.bannerContainer {
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}

.bannerContainer:nth-child(4n+1) .imageContainer {
  order: 2;
}

.bannerContentContainer {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageContainer {
  flex: 40%;
  align-items: center;
  display: flex;
}

.bannerImage {
  width: 100%;
}

.bannerButton {
  background-color: #BD2A57;
  color: white;
  padding: 3%;
  border: none;
}

.categoryBorder {
  background: radial-gradient(at 50% 0, #8a8888, transparent 50%);
  background-size: 100% 8px;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eeeeee;
}
@media (min-width: 760px) {
  .grid-container {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 990px) {
  .grid-container {
    grid-template-columns: 1fr 4fr;
  }
}

.categoriesClass {
  grid-template-columns: 1fr;
  display: none;
}
@media (min-width: 760px) {
  .categoriesClass {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: max-content;
  }
  .categoriesClass .categoriesList .categoriesName {
    padding: 10%;
    border-bottom: gray solid 1px;
  }
  .categoriesClass .categoriesList .categoriesName a {
    color: gray;
  }
}
@media (min-width: 990px) {
  .categoriesClass {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: max-content;
  }
  .categoriesClass .categoriesList .categoriesName {
    padding: 10%;
    border-bottom: gray solid 1px;
  }
  .categoriesClass .categoriesList .categoriesName a {
    color: gray;
  }
}

.productSide {
  display: grid;
  grid-template-columns: 1fr;
}
.productSide .productMenu {
  display: block;
}
@media (min-width: 760px) {
  .productSide .productMenu {
    display: none;
  }
}
@media (min-width: 990px) {
  .productSide .productMenu {
    display: none;
  }
}

.productMenu {
  display: block;
}
@media (min-width: 760px) {
  .productMenu {
    display: none;
  }
}
@media (min-width: 990px) {
  .productMenu {
    display: none;
  }
}

.productChoices {
  width: 100%;
  background: #BD2A57;
  color: white;
  font-size: medium;
  font-weight: bold;
  padding: 3%;
  outline: none;
  border: none;
}
.productChoices option {
  width: 50px;
}

.productsClass {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0.5%;
}
@media (min-width: 760px) {
  .productsClass {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 990px) {
  .productsClass {
    grid-template-columns: repeat(4, 1fr);
  }
}

.productContainer {
  display: flex;
  flex-direction: column;
  border-bottom: black 1px dotted;
  background-color: white;
}

.productName {
  font-size: 1.5em;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 62px;
  overflow: hidden;
}

.divAlignment {
  display: flex;
  flex-direction: row;
}
@media (min-width: 990px) {
  .divAlignment {
    flex-direction: column;
  }
}
.divAlignment .productImageContainer {
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}
@media (min-width: 990px) {
  .divAlignment .productImageContainer {
    width: 100%;
  }
}
.divAlignment .productImageContainer .productImage {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.divAlignment .descriptionAlignment {
  width: 50%;
}
@media (min-width: 990px) {
  .divAlignment .descriptionAlignment {
    width: 100%;
  }
}
.divAlignment .descriptionAlignment .descriptionContainer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5em;
}
.divAlignment .descriptionAlignment .descriptionContainer .productDescription {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  background: #eeeeee;
  height: 88px;
  padding: 2%;
  overflow: hidden;
}
.divAlignment .descriptionAlignment .mrpandbuy {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}
.divAlignment .descriptionAlignment .mrpandbuy .mrp {
  flex: 50%;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
}
@media (min-width: 990px) {
  .divAlignment .descriptionAlignment .mrpandbuy .mrp {
    display: block;
  }
}
.divAlignment .productBuy {
  flex: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #BD2A57;
  border: none;
  padding: 5%;
  color: white;
}
.divAlignment .productBuy .priceTag {
  display: inline-block;
}
@media (min-width: 990px) {
  .divAlignment .productBuy .priceTag {
    display: none;
  }
}

.productChoices .categoryOptions {
  width: 50px;
  overflow: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: inherit;
  align-items: center;
  text-align: right;
  margin-right: 2%;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 990px) {
  .close:hover, .close:focus {
    color: white;
  }
}

.cartBackground {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 990px) {
  .cartBackground {
    display: block;
  }
}

.overlay-content {
  display: flex;
  background: white;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media (min-width: 990px) {
  .overlay-content {
    width: 30%;
    height: 95%;
    margin: 2% auto;
  }
}

.cartContainer {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  height: 80%;
}

.cartHeader {
  background-color: #ffffff;
  padding: 0% 5%;
  display: inherit;
  color: black;
  justify-content: space-between;
}
.cartHeader .cartInfo {
  display: inherit;
  align-items: center;
}
@media (min-width: 990px) {
  .cartHeader {
    background-color: black;
    color: white;
  }
}

.cartItemLabel {
  font-size: 1.3em;
}

.cartItemCount {
  display: inline-block;
  background-color: inherit;
}

.cartItemContainer {
  padding-top: 5%;
  overflow: scroll;
}
.cartItemContainer .cartItem {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-items: center;
  padding-left: 3%;
}
.cartItemContainer .cartItem .cartItemImage {
  width: 25%;
}
.cartItemContainer .cartItem .cartItemImage img {
  width: 100%;
}
.cartItemContainer .cartItem .cartItemText {
  width: 80%;
  background-color: inherit;
  padding-left: 2%;
}
.cartItemContainer .cartItem .cartItemText p, .cartItemContainer .cartItem .cartItemText span, .cartItemContainer .cartItem .cartItemText h1 {
  background-color: inherit;
}
.cartItemContainer .cartItem .cartItemText h1 {
  font-size: 1.1em;
}
.cartItemContainer .cartItem .cartItemText p {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.cartItemContainer .cartItem .cartItemText p .leftCalc {
  width: 65%;
}
.cartItemContainer .cartItem .cartItemText p .leftCalc .cartButton {
  color: white;
  background-color: #BD2A57;
  padding: 1% 6%;
  border-radius: 5px;
}
.cartItemContainer .cartItem .cartItemText p .rightCalc {
  padding-right: 5%;
}

.cartEmpty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffffff;
}
.cartEmpty p:first-child {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0em;
}
.cartEmpty p:nth-child(2) {
  line-height: 0em;
}

.discountBanner {
  background: white;
  display: inherit;
  margin: 2%;
  align-items: center;
}
.discountBanner .discountLogo {
  width: 35%;
}
.discountBanner .discountLogo img {
  width: 100%;
  padding: 10%;
}
.discountBanner .discountBannerText {
  padding: 3%;
}

.cartFooter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: center;
}
.cartFooter a {
  padding: 3%;
  background: #BD2A57;
  color: white;
  padding: 3% 10% 3% 10%;
  border-radius: 4px;
  display: flex;
  width: 80%;
}
.cartFooter .showTotals {
  justify-content: space-between;
}
.cartFooter .startShopping {
  justify-content: center;
}

.screenContainer {
  margin-left: 13%;
  display: flex;
  flex-direction: row;
}
.screenContainer .leftScreen {
  margin: 3%;
}
.screenContainer .leftScreen h1 {
  font-size: 240%;
}
.screenContainer .leftScreen h1, .screenContainer .leftScreen p {
  padding: 3% 0;
  display: block;
}
.screenContainer .rightScreen {
  margin: 2% 0;
}
.screenContainer .rightScreen form article {
  margin: 3% 0;
}
.screenContainer .rightScreen form article .inputField {
  border: none;
  border-bottom: 2px solid #cccccc;
  padding-left: 5%;
  background-color: inherit;
  background-image: none;
}
.screenContainer .rightScreen form article .inputField :focus {
  border: none;
  border-bottom: 2px solid #cccccc;
}
.screenContainer .rightScreen form article a {
  background-color: #BD2A57;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 3%;
  text-decoration: none;
}
.screenContainer .rightScreen input:focus ~ .floating-label,
.screenContainer .rightScreen input:not(:focus):valid ~ .floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}
.screenContainer .rightScreen .inputField {
  font-size: 14px;
  width: 400px;
  height: 65px;
}
.screenContainer .rightScreen .textField {
  position: relative;
}
.screenContainer .rightScreen .floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}

/*# sourceMappingURL=main.css.map */
