.bannerContainer{
    display: flex;
    flex-direction: row;

}

.content .bannerContainer:nth-child(odd) .imageContainer{
    flex:40%;
    order:2;
}
/* 
.bannerContainer article{
    
    
} */
.bannerContentContainer{
    flex:60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
