.grid-container{
    display:grid;
    background-color: #eeeeee;
}
.categoriesClass{
    grid-column-start: 1;
    grid-column-end: 2;
}
.categoriesName{
    padding: 10%;
    border-bottom: gray solid;
}
.productsClass{
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    margin: 0.5%;
}
.productContainer{
    display: flex;
    flex-direction: column;
    border-bottom: black 1px dotted;
    background-color: white;
}
.productName{
    /* flex: 20%; */
    font-size:1.5em;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.productImageContainer{
    /* flex:50%; */
    justify-content: center;
    align-content: center;
    align-items: center;
}
.productImage{
    flex-direction: column;
    align-items: center;

    justify-content: center;
    align-content: center;
    width: 100%;
}
.descriptionContainer{
    flex-grow: 0;     /* do not grow   - initial value: 0 */
flex-shrink: 0;   /* do not shrink - initial value: 1 */
flex-basis: 5em;
}
.productDescription{
    /* margin:10%; */
    /* flex:20%; */
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    background: lightgray;
    overflow: hidden;
     
    /* height: 20%; */
}
.mrpandbuy{
    display: flex;
    /* flex:10%; */
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mrp{
    flex:50%;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.productBuy{
    flex: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color:#BD2A57; 
    border:none;
    padding:5%;
    color:white;
}