.grid-container{
    display:grid;
}
.categories Class{
    grid-column-start: 1;
    grid-column-end: 2;
}
.productsClass{
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
}
.productContainer{
    display: flex;
    flex-direction: column;
    border-bottom: black 1px dotted;
}
.productName{
    flex: 20%;
    font-size:1.5em;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.productImageContainer{
    flex:50%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.productImage{
    flex-direction: column;
    align-items: center;

    justify-content: center;
    align-content: center;
    width: 100%;
}
.productDescription{
    /* margin:10%; */
    flex:20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.mrpandbuy{
    display: flex;
    flex:10%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mrp{
    flex:50%;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.productBuy{
    flex: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color:#BD2A57; 
    border:none;
    padding:5%;
    color:white;
}