.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: inherit;
  align-items: center;
  text-align: right;
  margin-right: 2%;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 990px) {
  .close:hover, .close:focus {
    color: white;
  }
}

.cartBackground {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}
@media (min-width: 990px) {
  .cartBackground {
    display: block;
  }
}

.overlay-content {
  display: flex;
  background: white;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media (min-width: 990px) {
  .overlay-content {
    width: 30%;
    height: 95%;
    margin: 2% auto;
  }
}

.cartContainer {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  height: 80%;
}

.cartHeader {
  background-color: #ffffff;
  padding: 0% 5%;
  display: inherit;
  color: black;
  justify-content: space-between;
}
.cartHeader .cartInfo {
  display: inherit;
  align-items: center;
}
@media (min-width: 990px) {
  .cartHeader {
    background-color: black;
    color: white;
  }
}

.cartItemLabel {
  font-size: 1.3em;
}

.cartItemCount {
  display: inline-block;
  background-color: inherit;
}

.cartItemContainer {
  padding-top: 5%;
  overflow: scroll;
}
.cartItemContainer .cartItem {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-items: center;
  padding-left: 3%;
}
.cartItemContainer .cartItem .cartItemImage {
  width: 25%;
}
.cartItemContainer .cartItem .cartItemImage img {
  width: 100%;
}
.cartItemContainer .cartItem .cartItemText {
  width: 80%;
  background-color: inherit;
  padding-left: 2%;
}
.cartItemContainer .cartItem .cartItemText p, .cartItemContainer .cartItem .cartItemText span, .cartItemContainer .cartItem .cartItemText h1 {
  background-color: inherit;
}
.cartItemContainer .cartItem .cartItemText h1 {
  font-size: 1.1em;
}
.cartItemContainer .cartItem .cartItemText p {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.cartItemContainer .cartItem .cartItemText p .leftCalc {
  width: 65%;
}
.cartItemContainer .cartItem .cartItemText p .leftCalc .cartButton {
  color: white;
  background-color: #BD2A57;
  padding: 1% 6%;
  border-radius: 5px;
}
.cartItemContainer .cartItem .cartItemText p .rightCalc {
  padding-right: 5%;
}

.cartEmpty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #ffffff;
}
.cartEmpty p:first-child {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0em;
}
.cartEmpty p:nth-child(2) {
  line-height: 0em;
}

.discountBanner {
  background: white;
  display: inherit;
  margin: 2%;
  align-items: center;
}
.discountBanner .discountLogo {
  width: 35%;
}
.discountBanner .discountLogo img {
  width: 100%;
  padding: 10%;
}
.discountBanner .discountBannerText {
  padding: 3%;
}

.cartFooter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: center;
}
.cartFooter a {
  padding: 3%;
  background: #BD2A57;
  color: white;
  padding: 3% 10% 3% 10%;
  border-radius: 4px;
  display: flex;
  width: 80%;
}
.cartFooter .showTotals {
  justify-content: space-between;
}
.cartFooter .startShopping {
  justify-content: center;
}

/*# sourceMappingURL=cart.css.map */
